.pattern-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    
    background-color: black;
    
    
}

.dot {
        stroke: lightblue;
        stroke-width: 6; 
        fill: white;    
    }
    
    .line {
        stroke:white;
        stroke-width: 8; 
    }