<svg viewBox="0 0 1000 1000" class="pattern-container">
         <circle ng-attr-id="{{dot.row + '' + dot.col}}" ng-repeat="dot in dots" ng-attr-cx="{{getDotX(dot)}}" ng-attr-cy="{{getDotY(dot)}}" r="40" 
            class="dot" />  
         <line class="line" ng-repeat="line in model"
            ng-attr-x1="{{getLineX(line.from.row, line.from.col)}}" 
            ng-attr-y1="{{getLineY(line.from.row, line.from.col)}}" 
            ng-attr-x2="{{getLineX(line.to.row, line.to.col)}}" 
            ng-attr-y2="{{getLineY(line.to.row, line.to.col)}}" 
            />
    
</svg>